<div class="card">
  <%= link_to image_tag("logo.png", class: :card__img ), prototype_path(prototype)%>
  <div class="card__body">
    <%= link_to "プロトタイプのタイトル", prototype_path(prototype), class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to "by プロトタイプの投稿者名", prototype_path(prototype), class: :card__user %>
  </div>
</div>